<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=.;Database=Planner_NH;Trusted_Connection=True;MultipleActiveResultSets=true"/>
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="TaskPlanner.Services.Services.FamilyService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/" />
          </baseAddresses>
        </host>
        <endpoint address="http://localhost/FamilyService" 
                  binding="basicHttpBinding"
                  contract="TaskPlanner.Shared.Contracts.IFamilyService" />
        <endpoint address="http://localhost/FamilyAdminService"
                  binding="wsHttpBinding"
                  contract="TaskPlanner.Shared.Contracts.IFamilyAdminService"
                  bindingConfiguration="admin" />
      </service>
     <service name="TaskPlanner.Services.Services.DutyService">
       <host>
         <baseAddresses>
           <add baseAddress="http://localhost/" />
         </baseAddresses>
       </host>
        <endpoint address="http://localhost/DutyService"
                  binding="basicHttpBinding"
                  contract="TaskPlanner.Shared.Contracts.IDutyService" 
                  name="BasicHttpBinding_IDutyService" />
      </service>

    </services>
    <bindings>
      <wsHttpBinding>
        <binding transactionFlow="true" sendTimeout="00:20:00">
          <security mode="None" />
        </binding>
        <binding name="admin" transactionFlow="true" sendTimeout="00:20:00">
          <security mode="Message" >
            <message clientCredentialType="UserName" negotiateServiceCredential="false"  />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"  />
          <serviceCredentials>
            <serviceCertificate storeLocation="LocalMachine"
                                storeName="Root"
                                findValue="TaskPlannerAPI"
                                x509FindType="FindBySubjectName" />
            <userNameAuthentication userNamePasswordValidationMode="MembershipProvider" 
                                    membershipProviderName="myProvider" />
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="UseAspNetRoles" 
                                roleProviderName="myProvider" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <membership>
      <providers>
        <add name="myProvider" type="TaskPlanner.Services.Providers.MyMembershipProvider,TaskPlanner.Services" />
      </providers>
    </membership>
    <roleManager enabled="true" >
      <providers>
        <add name="myProvider" type="TaskPlanner.Services.Providers.MyRoleProvider,TaskPlanner.Services" />
      </providers>
    </roleManager>
  </system.web>
</configuration>