<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost/DutyService"
                binding="basicHttpBinding"
                contract="TaskPlanner.Shared.Contracts.IDutyService"
                name="BasicHttpBinding_IDutyService"
                />
      <endpoint address="http://localhost/FamilyService"
                  binding="basicHttpBinding"
                  contract="TaskPlanner.Shared.Contracts.IFamilyService"
                  name="httpEP"
                 />
      <endpoint address="http://localhost/FamilyAdminService"
                binding="wsHttpBinding"
                contract="TaskPlanner.Shared.Contracts.IFamilyAdminService"
                name="httpAdminEP"
                bindingConfiguration="admin"
                behaviorConfiguration="admin"
                >
        <identity>
          <certificate encodedValue=
"MIIBvjCCAWigAwIBAgIQIGP794fx3JNPDHuDQ3bvjDANBgkqhkiG9w0BAQQFADAW
MRQwEgYDVQQDEwtSb290IEFnZW5jeTAeFw0xODA2MDMwOTI2MDdaFw0zOTEyMzEy
MzU5NTlaMBkxFzAVBgNVBAMTDlRhc2tQbGFubmVyQVBJMIGfMA0GCSqGSIb3DQEB
AQUAA4GNADCBiQKBgQCjOi+6PWMn2c00aFQjvQwz1Us8/tfoj7US1pVxgehYVsp6
rmz3Qb6F+hBGy6ZFMZG9dz5ks93v9TgvxKYrcG4FQVUldKa2u2YxqzUqESO6nEAD
47qHxrfnsFov9kfsMmBwjaSJIdtFJUWqM/nxuVST3VfDg4JcaY4K76otpyr8DQID
AQABo0swSTBHBgNVHQEEQDA+gBAS5AktBh0dTwCNYSHcFmRjoRgwFjEUMBIGA1UE
AxMLUm9vdCBBZ2VuY3mCEAY3bACqAGSKEc+41KpcNfQwDQYJKoZIhvcNAQEEBQAD
QQAFTSMHcsKIz1XAk+RxpD5F0MwpP/SNkL+inwuB1w2RQ9rFxL2iqy2WNuganOe5
BwiFtpWBDqZn2LG9u8Y0Cwp5" />
        </identity>
      </endpoint>



    </client>
    <bindings>
      <wsHttpBinding>
        <binding transactionFlow="true" sendTimeout="00:20:00">
          <security mode="None" />
        </binding>
        <binding name="admin" transactionFlow="true" sendTimeout="00:20:00">
          <security mode="Message" >
            <message clientCredentialType="UserName" negotiateServiceCredential="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="admin">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="ChainTrust" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>